<app-header></app-header>
<app-header-notification></app-header-notification>

<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" [formGroup]="form">
            <span class="contact100-form-title">
             მოქალაქეობა და პირადი მონაცემები
            </span>

            <div class="personDiv" data-validate="Name is required">
                <span class="personSpan">პირადი ან საბუთის ნომერი *</span>
                <!-- <input class="input100" type="text" placeholder="პირადი ნომერი" #input (input)="input.value=$event.target.value.toUpperCase()" /> -->
                <input class="PersonInput" type="text" name="name" placeholder="00aa00000 " formControlName="id" #input (input)="input.value=$event.target.value.toUpperCase()">
            </div>
            <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">სახელი,გვარი *</span>
                <input class="input100" type="text" name="name" placeholder="სახელი,გვარი" formControlName="fullName">
            </div>

            <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <span class="label-input100">დაბადების ადგილი *</span>
                <select class="input100" style="height: 60px" name="country" id="">
                    <option *ngFor="let country of countryList" [value]="country.Country">{{country.Name}}</option>                
                
                </select>
                <!-- <input class="input100 ng-tns-c4-9 ng-pristine ng-valid ng-touched" type="text" name="email" placeholder="დაბადების ადგილი" formControlName="birthLoc"> -->
            </div>

            <div class="wrap-input100">
                <span class="label-input100">დაბადების თარიღი</span>
                <input class="input100" type="date" name="web" formControlName="birthDate">
            </div>
            <div class="wrap-input100">
                <span class="label-input100">მუდმივი საცხოვრებელი</span>
                <select class="input100" style="height: 60px" name="country" id="">
                    <option *ngFor="let country of countryList" [value]="country.Country">{{country.Name}}</option>                
                
                </select>
                <!-- <input class="input100" type="text" placeholder="მუდმივი საცხოვრებელი" formControlName="address"> -->
            </div>



            <div *ngIf="show" class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button (click)="onSubmit()" class="contact100-form-btn ">
                        შემდეგი
                    </button>
                </div>
            </div>
        </form>
    </div>


</div>