<div class="container-contact100" style="background-image: url('images/bg-01.jpg');">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
            <span class="contact100-form-title">
         იფორმაცია საქონლის შესახებ
        </span>

            <div class="note">
                <p> ყურადღება!!! აღნიშნული ტიპის საქონლის დასადეკლარირებლად გთხოვთ, მიმართოთ საბაჟო ორგანოს!
                </p>
            </div>
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button (click)="goHome()" class="contact100-form-btn">
                    გამოსვლა
                </button>
                </div>
            </div>
        </form>
    </div>
</div>