<app-header></app-header>
<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
            <span class="contact100-form-title">
         იფორმაცია საქონლის შესახებ
        </span>

            <div class="note">
                <p> თქვენ წარმატებით დაარეგისტრირეთ დეკლარაცია N <br><b>{{FirstCode}}/{{secondCode}}/{{Year}}</b>
                </p>
            </div>
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button (click)="goHome()" class="contact100-form-btn">
                    დასრულება
                </button>
                </div>
            </div>
        </form>
    </div>
</div>